<h1>Carrito</h1>
<ul id="listaCarrito">
    {{#each cart.products}}
        <li>{{this.product.title}} - {{this.quantity}}</li>
    {{/each}}
</ul>
<a href="/">Volver</a>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/cart.js"></script>