    <div class="carritoContainer">
        <h1>Carrito</h1>
        <ul id="listaCarrito">
            {{#each cart.products}}
                <li>{{this.product.title}} - {{this.quantity}}</li>
            {{/each}}
                <a href="/">Volver</a>
        </ul>
    </div>


