<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">Registro</a></li>
    <li><a href="/">LogIn</a></li>
    <li><a href="/api/session/logout?web=1">Log Out</a></li>
    <li><a href="/api/carts/{{user.cart_id}}">Carrito</a></li>
</ul>
